.me-floating-toolbar {
    position: absolute;
    z-index: 2;
    top: 101%;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    box-shadow: 0 5px 18px rgba(0, 0, 0, .2);
    background: #fff;
    border-radius: 6px;

    .clickable { cursor: pointer; }

    .me-floating-toolbar--inner > span {
        margin-right: 6px;
        white-space: nowrap;
    }

    .me-floating-toolbar--inner .tool--rotate i {
        margin-right: 6px;
    }

    .tool--justify {
        i {
            margin-right: 6px;
        }
        i:last-of-type {
            margin-right: 0;
        }
    }

    .tool--fullsize.active,
    .tool--autoplay.active {
        color: #08D7B8;
    }
}
